.row
  .col-md-6.col-md-offset-3.container
    %h1.text-center New user
    = form_for @user do |f|
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      = f.label :name, class: 'sr-only'
      = f.text_field :name, class: 'form-control', placeholder: 'name', autofocus: true, id: :first
      = f.label :email, class: 'sr-only'
      = f.email_field :email, class: 'form-control', placeholder: 'email'
      = f.label :password, class: 'sr-only'
      = f.password_field :password, class: 'form-control', placeholder: 'password'
      = f.label :password_confirmation, class: 'sr-only'
      = f.password_field :password_confirmation, class: 'form-control', placeholder: 'password confirmation', id: :last
      %p
      .col-md-12.text-center
        = f.submit 'Sign up', class: 'btn btn-primary col-md-4'
