= recipe_form.fields_for(product, index: product.id) do |product_form|
  %label Ingredient
  = product_form.label :ingredient, class: 'sr-only'
  = product_form.text_field :name, class: 'form-control', placeholder: 'name'
  = product_form.label :caloricity, class: 'sr-only'
  = product_form.text_field :caloricity, class: 'form-control', placeholder: 'caloricity'