.row
  .col.col-auto
    %h1= recipe.name
  .col
    %div.recipe-actions
      = link_to @recipe.catalog, class: 'mr-3', title: 'Back' do
        %i.fa.fa-long-arrow-left
      = link_to edit_recipe_path(@recipe), class: 'mr-3', title: 'Edit' do
        %i.fa.fa-pencil
      = link_to 'javascript:function()', id: 'delete_recipe', title: 'Delete' do
        %i.fa.fa-trash-o

%div.collapse{id: "recipe_details_#{recipe.id}", class: params[:controller] == 'recipe' ? 'show' : '' }
  .row
    .col-sm-12.col-md-6
      .lead= recipe.short_description
      %img.w-100{src: recipe.image_url.present? ? recipe.image_url : '/placeholder-400x300.png', alt: 'No picture found'}
    .col-sm-12.col-md-6
      %h2 Ingredients
      %table.table.table-striped.lead.ingredients-table
        %thead
          %tr
            %th.col Name
            %th.col Weight,g
            %th.col kcal/100g
        %tbody
          - recipe.ingredients.each do |i|
            %tr
              %td.ingredient-word-breaks= i.product.name
              %td= i.weight
              %td= i.product.caloricity
          %tr
            %td
              %h4 Total
            %td= recipe.ingredients.inject(0) { |sum, i| sum + i.weight }
            %td
              %h4= recipe.caloricity
  .row
    .col
      %p.recipe-description.lead= recipe.description