%h1= recipe.name

%div.collapse{id: "recipe_details_#{recipe.id}", class: params[:controller] == 'recipe' ? 'show' : '' }
  .row
    .col-sm-12.col-md-6
      .lead= recipe.short_description
    .col-sm-12.col-md-6
      %h2 Ingredients
      %table.table.table-striped.lead.ingredients-table
        %thead
          %tr
            %th.col Name
            %th.col Weight,g
            %th.col kcal/100g
        %tbody
          - recipe.ingredients.each do |i|
            %tr
              %td.ingredient-word-breaks= i.product.name
              %td= i.weight
              %td= i.product.caloricity
          %tr
            %td
              %h4 Total
            %td= recipe.ingredients.inject(0) { |sum, i| sum + i.weight }
            %td
              %h4= recipe.caloricity
  .row
    .col
      %p.recipe-description.lead= recipe.description